@import url("@styles/fonts/JetBrainsMono.css");

:root {
  --primary: #54d7a9;
  --secondary: #9b7eca;
  --accent: #7ed4fb;
  --extra: #8fcc75;
  --text: #ffffff;
  --alt: #999999;
  --background: #000000;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--background);
  color: var(--text);
  font-family: "Jetbrains Mono", monospace;
  user-select: none;
}

body {
  overflow-y: scroll;
  zoom: 1;
}

main {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  grid-template-columns: minmax(200px, 1fr);
  transform: translate(-50%, -50%);
  border: 0.2vw;
  border-style: solid;
  background: var(--background);
  padding: 2.2svw;
  width: 68.75svw;
  height: 35svw;
  max-width: 75%;
  max-height: 80%;
  overflow: hidden;
  font-size: 1.125svw;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  font-weight: 300;
}
a:link,
a:visited,
a:active {
  background-color: transparent;
  text-decoration: none;
  color: var(--secondary);
}
a:hover {
  transition-duration: 0.2s;
  transition-property: color, text-decoration;
  text-decoration: underline;
  color: var(--accent);
}
