---
import TerminalBorder from "@components/TerminalBorder.astro";
import Terminal from "@layouts/Terminal.astro";

const url = new URL(Astro.request.url).pathname.substring(1);
---

<Terminal path="404">
    <TerminalBorder header="Shell" extra="my-[0.625vw]">
        <span>
            <p id="cd">$ cd ~/{url}</p>
            <p id="err" class="pt-[1vw]">
                "{url}": No such file or directory (os error 2)
            </p>
        </span>
    </TerminalBorder>
</Terminal>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const url = window.location.pathname.substring(1);
        document.getElementById("cd")!.textContent = `$ cd ~/${url}`;
        document.getElementById("err")!.textContent =
            `"${url}": No such file or directory (os error 2)`;
    });
</script>
