---
import TerminalBorder from "@components/TerminalBorder.astro"
import Terminal from "@layouts/Terminal.astro"

const url = new URL(Astro.request.url).pathname.substring(1);
---
<Terminal path="404">
    <TerminalBorder header="Shell" margin="0.5rem 0">
        <span>
            <p>$ cd ~/{url}</p>
            <p class="pt-3">"{url}": No such file or directory (os error 2)</p>
        </span>
    </TerminalBorder>
</Terminal>

