---
import Terminal from "@layouts/Terminal.astro";
import TerminalBorder from "@components/TerminalBorder.astro";
import BlogItem from "@components/BlogItem.astro";
import { getCollection } from "astro:content";

const blogs = (await getCollection("blogs"))
    .sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date))
    .map((blog) => ({
        title: blog.data.title,
        description: blog.data.description,
        date: blog.data.date,
        href: "/blogs/" + blog.slug,
    }));
---

<Terminal path="blogs/">
    <TerminalBorder header="Shell" extra="mt-[0.625vw] mb-[1.5625vw]">
        <p>$ ls -lah -t --color=auto ~/blogs</p>
    </TerminalBorder>
    <div class="max-h-[24vw] overflow-y-auto">
        {
            blogs.map((blog) => (
                <>
                    <BlogItem
                        title={blog.title}
                        description={blog.description ?? ""}
                        date={blog.date}
                        href={blog.href}
                    />
                </>
            ))
        }
    </div>
</Terminal>
