---
import Terminal from "../layouts/Terminal.astro";
import Project from "../components/Project.astro";
---

<Terminal path="skills">
    <div class="grid grid-rows-2 mt-2 space-y-4">
        <div class="grid grid-cols-2 items-center gap-x-8">
            <Project
                title="Kapi"
                description="Minecraft Framework"
                href="https://github.com/KapiMC/Kapi"
            >
                A bunch of text
                A bunch of text
                A bunch of text
                A bunch of text
                A bunch of text
            </Project>
            <Project
                title="Kapi"
                description="Hello"
                href="https://github.com/KapiMC/Kapi"
            >
                A bunch of text
            </Project>
        </div>
        <div class="grid grid-cols-3 items-center gap-x-8">
            <Project
                title="Trident"
                description="IntelliJ Plugin"
                href="https://github.com/Kyren223/Trident"
            >
                The fastest way to navigate to your most used files, with the least amount of keystrokes!
            </Project>
            <Project
                title="Kapi"
                description="Hello"
                href="https://github.com/KapiMC/Kapi"
            >
                A bunch of text
            </Project>
            <Project
                title="Kapi"
                description="Hello"
                href="https://github.com/KapiMC/Kapi"
            >
                A bunch of text
            </Project>
        </div>
    </div>
</Terminal>
