---
import Terminal from "@layouts/Terminal.astro";
import Project from "@components/Project.astro";
---

<Terminal path="projects/">
    <div class="w-full max-w-full">
        <div class="grid gap-[1.25vw] grid-cols-[2fr_1fr]">
            <div class="">
                <Project
                    title="Kapi"
                    description="Minecraft Plugins Framework"
                    href="https://github.com/KapiMC/Kapi"
                >
                    A complete "batteries included" framework streamlining the
                    process of Minecraft plugin development. Enabling developers
                    to make impressive plugins with ease!
                </Project>
            </div>
            <div>
                <Project
                    title="???"
                    description="???????"
                    href="https://github.com/KapiMC/Kapi"
                >
                    ????????? ???? ??????? ????? ???????? ??????
                </Project>
            </div>
            <div class="col-span-2 grid grid-cols-[1fr_1fr_1fr] gap-[1.25vw]">
                <Project
                    title="Trident"
                    description="IntelliJ Plugin"
                    href="https://github.com/Kyren223/Trident"
                >
                    A blazingly fast way to navigate to your most used files.
                    minimize keystrokes and maximize productivity!
                </Project>
                <Project
                    title="???"
                    description="???????"
                    href="https://github.com/KapiMC/Kapi"
                >
                    ????????? ???? ??????? ????? ???????? ??????
                </Project>
                <Project
                    title="Dotfiles"
                    description="Configuration"
                    href="https://github.com/Kyren223/dotfiles"
                    cd="cd ~/"
                >
                    My linux configuration, includes Neovim, tmux and others.
                </Project>
            </div>
        </div>
    </div>
</Terminal>
