---
import Terminal from "@layouts/Terminal.astro";
import Project from "@components/Project.astro";
---

<Terminal path="/home/kyren/projects/">
    <div
        class="w-full max-h-[80svh] overflow-auto sm:overflow-visible"
    >
        <div class="sm:grid sm:gap-[1.25vw] sm:grid-cols-[2fr_3fr]">
            <Project
                title="CPU vs AI"
                cd="cpu-vs-ai"
                description="Game (made with Zig)"
                href="https://github.com/The-Memory-Managers/cpu-vs-ai"
            >
                A tower defense game where an AI chip on your motherboard
                generates bugs! Place CPUs to destroy the bugs!
                Don't let them corrupt your RAM!
            </Project>
            <Project
                title="Kapi"
                cd="kapi"
                description="Minecraft Plugins Framework"
                href="https://github.com/KapiMC/Kapi"
            >
                A complete "batteries included" framework streamlining the
                process of Minecraft plugin development. Enabling developers to
                make impressive plugins with ease!
            </Project>
            <div
                class="sm:col-span-2 sm:grid sm:grid-cols-[1fr_1fr_1fr] sm:gap-[1.25vw]"
            >
                <Project
                    title="Eko"
                    cd="eko"
                    description="Social Media Platform"
                    href="https://github.com/kyren223/eko"
                >
                    A terminal-native alternative to Discord for Terminal nerds!
                </Project>
                <Project
                    title="Trident"
                    cd="trident"
                    description="IntelliJ Plugin"
                    href="https://github.com/Kyren223/Trident"
                >
                    A blazingly fast way to navigate to your most used files.
                    minimize keystrokes and maximize productivity!
                </Project>
                <Project
                    title="Dotfiles"
                    cd="dotfiles"
                    description="Configuration"
                    href="https://git.kyren.codes/Kyren223/dotfiles"
                    dir="cd ~/"
                >
                    My linux configuration, includes Neovim, tmux and others.
                </Project>
            </div>
        </div>
    </div>
</Terminal>
