---
import Terminal from "../layouts/Terminal.astro";
import Project from "../components/Project.astro";
---

<Terminal path="skills">
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1">
            <Project
                title="Kapi"
                description="Minecraft Plugins Framework"
                href="https://github.com/KapiMC/Kapi"
            >
                A complete "batteries included" framework to streamline the process 
                of plugin development by empowering developers with utilities that
                make developing impressive plugins a breeze
            </Project>
        </div>
        <div class="col-span-1">
            <Project
                title="Kapi"
                description="Hello"
                href="https://github.com/KapiMC/Kapi"
            >
                A bunch of text
            </Project>
        </div>
        <div class="col-span-3 grid grid-cols-3 gap-4">
            <Project
                title="Trident"
                description="IntelliJ Plugin"
                href="https://github.com/Kyren223/Trident"
            >
                The fastest way to navigate to your most used files, with the
                least amount of keystrokes!
            </Project>
            <Project
                title="Kapi"
                description="Hello"
                href="https://github.com/KapiMC/Kapi"
            >
                A bunch of text
            </Project>
            <Project
                title="Kapi"
                description="Hello"
                href="https://github.com/KapiMC/Kapi"
            >
                A bunch of text
            </Project>
        </div>
    </div>
</Terminal>
