---
import TerminalBorder from "../components/TerminalBorder.astro";

interface Props {
    title: string;
    description: string;
    date: string;
    href: string;
}

const { title, description, date, href } = Astro.props;
---

<TerminalBorder footer={date} margin="0 0 20px;">
    <span class="cursor-pointer group block w-full">
        <a href={href} style="all: unset;">
            <h1 class="text-[130%] text-[var(--accent)] group-hover:underline">
                {title}
            </h1>
            <p class="text-[var(--secondary)]">
                {description}
            </p>
        </a>
    </span>
</TerminalBorder>

<style>
    .section:hover() {
        position: relative;
        padding: 10.8rem;
        padding-top: 0.85rem;
        display: flex;
        border-style: solid;
        border-width: 1px;
        border-color: var(--alt);
    }
</style>
