---
import "../styles/markdown/asides.css";
import "../styles/markdown/markdown.css";
import "../styles/markdown/props.css";
import "../styles/markdown/reset.css";
import "../styles/markdown/shiki.css";
import "../styles/markdown/util.css";
---

<div class="sl-markdown-content">
    <slot />
</div>
