---
interface Props {
    header?: string;
    footer?: string;
    margin?: string;
}

const { header = "", footer = "", margin = "-1px" } = Astro.props;
---

<div class="section" style={`margin: ${margin};`}>
    <span class="tag-top">{header}</span>
    <span class="tag-bottom">{footer}</span>
    <slot />
</div>

<style>
    .section {
        position: relative;
        padding: 0.8em;
        padding-top: 0.85em;
        display: flex;
        border-style: solid;
        border-width: 0.1vw;
        border-color: var(--alt);
    }

    .tag-top {
        position: absolute;
        top: -0.6em;
        left: 0.5em;
        background-color: var(--background);
        padding-right: 0.5em;
        padding-left: 0.5em;
        font-size: 0.8em;
        color: var(--alt);
    }

    .tag-bottom {
        position: absolute;
        bottom: -0.6em;
        left: 0.5em;
        background-color: var(--background);
        padding-right: 0.5em;
        padding-left: 0.5em;
        font-size: 0.8em;
        color: var(--alt);
    }
</style>
