---
interface Props {
    header?: string;
    footer?: string;
    margin?: string;
    class?: string;
}

const {
    header = "",
    footer = "",
    margin = "-1px",
    class: htmlClass,
} = Astro.props;
---

<div class="section" style={`margin: ${margin};`} class={htmlClass}>
    <span class="tag-top">{header}</span>
    <span class="tag-bottom">{footer}</span>
    <slot />
</div>

<style>
    .section {
        position: relative;
        padding: 0.8rem;
        padding-top: 0.85rem;
        display: flex;
        border-style: solid;
        border-width: 1px;
        border-color: var(--alt);
    }

    .tag-top {
        position: absolute;
        top: -0.6rem;
        left: 0.5rem;
        background-color: var(--background);
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        font-size: 0.8rem;
        color: var(--alt);
    }

    .tag-bottom {
        position: absolute;
        bottom: -0.6rem;
        left: 0.5rem;
        background-color: var(--background);
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        font-size: 0.8rem;
        color: var(--alt);
    }
</style>
