---
import Blog from "../../layouts/Blog.astro";
import RadarChart from "../../components/RadarChart.astro"
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const blogEntries = await getCollection("blogs");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Blog title=`/home/kyren/blogs/${entry.slug}`>
    <h1>Test</h1>
    <RadarChart></RadarChart>
    <Content />
</Blog>
