---
import Markdown from "@components/Markdown.astro";
import Head from "@components/Head.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title={title} description="My blog post" />
    <body>
        <main class="w-[70%] m-auto py-16">
            <Markdown>
                <slot />
            </Markdown>
        </main>
    </body>
</html>
