---
import "@styles/terminal.css";
import Nav from "@components/Nav.astro";
import Head from "@components/Head.astro";

interface Props {
    path: string;
}

const { path: title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title=`/home/kyren/${title}` description="My personal website" />
    <body>
        <main>
            <Nav path={title} />
            <slot />
        </main>
    </body>
</html>
