---
import "@styles/terminal.css";
import Nav from "@components/Nav.astro";
import Head from "@components/Head.astro";

interface Props {
    path: string;
}

const { path: title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head title=`/home/kyren/${title}` description="My personal website" />
    <body>
        <main class="
            w-[95vw] h-[97svh] p-[2.2svh] text-[3vw] 
            sm:w-[68.75vw] sm:h-[35vw] sm:p-[2.2vw] sm:text-[1.125vw] sm:border-[0.2vw] sm:border-solid
            ">
            <Nav path={title} />
            <slot />
        </main>
    </body>
</html>
<style>
    main {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--background);
        font-weight: 300;
        overflow: hidden;
    }
</style>
